body {
     background-color:cadetblue;
     font-family:Arial;
} 

@font-face {
    font-family: 'hi';
     src: url('stone orgonite.woff') format('opentype');
}

h1 {
    font-family:"hi";
    font-size: 100px;
    letter-spacing: 30px;
}